@import "../../scss/mixins";
@import "../../scss/variables";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  background-color: rgb(235, 236, 244);
  position: relative;
}

.topFooter {
  max-width: 1300px;
  height: fit-content;
  background-color: rgb(235, 236, 244);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 20px 0;

  h3 {
    @include textStyle(1.3em, rgb(43, 44, 45), 700);
    margin-bottom: 25px;
  }

  li,
  p {
    @include textStyle(1em, rgb(46, 47, 48), 500);
  }

  .aboutUs {
    width: 300px;
    display: flex;
    flex-direction: column;

    p {
      margin: 0 10px;
    }
  }

  .communic {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .communic ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0 !important;

    li {
      text-align: left;
      margin: 8px 0;
    }
  }

  .services {
    width: 300px;
    list-style-type: none;

    ul {
      list-style-type: none;
      margin: 0 10px;
      padding: 0 !important;
    }

    li {
      text-align: left;
      margin: 8px 0;
    }
  }

  .footerImage {
    margin-right: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;

    .trustImage {
      width: 300px;
    }

    .socialIcons {
      display: flex;
      align-items: center;
      margin-left: 15px;
      cursor: pointer;
    }

    .socialIcons a {
      cursor: pointer !important;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 10px;
      margin: 20px 7px 0;
      background-color: $textColor;
    }

    .socialIcons img {
      cursor: pointer !important;
    }

    .socialIcons img:nth-child(1) {
      height: 20px;
    }
  }
}

.bottomFooter {
  background-color: rgb(235, 236, 244);
  position: relative;

  .waveFooter {
    height: fit-content;
    width: 100%;
    margin-top: -120px;
  }

  .toUp {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }

  .toUp:hover {
    background-color: rgb(219, 219, 219);
  }
}

@media (max-width: 1239px) {
  .bottomFooter .toUp {
    top: 25%;
  }
}

@media (max-width: 1239px) {
  .bottomFooter .toUp {
    top: -10%;
  }
}

@media (max-width: 872px) {
  .bottomFooter .waveFooter {
    margin-top: -50px;
  }

  .bottomFooter .toUp {
    top: 20%;
  }
}

@media (max-width: 568px) {
  .bottomFooter .waveFooter {
    margin-top: -25px;
  }
}

@media (max-width: 430px) {
  .bottomFooter .waveFooter {
    margin-top: 0;
  }
}
